.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 10px;
  margin: 28px;
  padding: 15px;
}
@media (max-width: 1024px) {
  .card {
    grid-template-columns: 1fr 1fr;
  }
  .cardItems {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
  }
  .cardItems {
    flex-wrap: wrap;
  }
}
