.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 28px;
  padding: 15px;
}

@media (max-width: 1200px) {
  .card {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card {
    grid-template-columns: repeat(1, 1fr);
    margin: 10px;
    padding: 10px;
  }
  .addButton {
    width: 90%;
    padding: 14px;
  }
}

.addButton {
  border-radius: 10px;
  border: 1px solid rgba(182, 178, 178, 0.3);
  padding: 18px 50px;
  background-color: rgb(132, 0, 255);
  color: white;
  gap: 10px;
  margin: 10px 30px;
  cursor: pointer;
}

.form {
  gap: 10px;
  flex-direction: column;
  width: 100%;
  display: flex;
  input {
    border-radius: 10px;
    border: 1px solid rgba(182, 178, 178, 0.3);
    padding: 5px 5px;
     width: 100%;
     max-width: 300px;
  }
  label {
    align-items: center;
  }
}

.fullForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .formButton {
    border-radius: 10px;
    border: 1px solid rgba(182, 178, 178, 0.3);
    width: 60px;
    height: 30px;
  }
}
select {
  border-radius: 10px;
  border: 1px solid rgba(182, 178, 178, 0.3);
  padding: 5px 5px;
}

@media (max-width: 1024px) {
  .fullForm {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
  }
  .form {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.pages {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-weight: 500;
  align-items: center;
  flex-wrap: wrap;
  
  button {
    border-radius: 10px;
    border: 1px solid rgba(182, 178, 178, 0.3);
    padding: 10px;
    background-color: rgb(132, 0, 255);
    color: white;
    cursor: pointer;
  }
}
