.title {
  font-size: 32px;
  font-weight: 500;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
  width: 50%;

  label {
    font-weight: 500;
    font-size: 18px;
    color: #000000;
  }
  input {
    padding: 12px;
    border: 1px solid #cacaca;
    border-radius: 9px;
    outline: none;
  }
}
.save {
  background: #5a6afa;
  color: white;
  padding: 12px;
  border: 1px solid #cacaca;
  border-radius: 9px;
  cursor: pointer;
  margin-top: 10px;
}
