.signUpPage {
  background-color: #ececec;
}

.signUpCard {
  padding: 30px;
  align-items: center;
  text-align: center;
  border: 1px solid #e5e7eb;
  display: flex;
  border-radius: 15px;
  gap: 65px;
  justify-content: center;
}

.signUpHeader {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.signUpForm {
  height: 726px;
  width: 533px;
  background-color: #ffffff;
  align-items: center;
  text-align: center;
  padding: 60px 33px 36px;
  display: flex;
  flex-direction: column;
  border: 1px solid #7d7d7d;
  border-radius: 15px;
  gap: 26px;
}

.signUpContent {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.formGroup {
  text-align: left;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}

.inputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #7d7d7d;
  border-radius: 15px;
  padding: 15px 35px;
  background: white;
}

.inputText {
  font-weight: 900;
  align-items: center;
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 5px 10px;
  background: white;
}

.inputText:focus {
  outline: none;
}

.passwordWrapper {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #7d7d7d;
  border-radius: 15px;
  padding: 15px 35px;
  background: white;
  display: flex;
}

.passwordInputWrapper {
  font-weight: 900;
  width: 100%;
  display: flex;
}

.passwordInput {
  border: none;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  background: white;
  font-weight: 900;
}

.passwordInput:focus {
  outline: none;
}

.passwordToggle {
  background: transparent;
  border: none;
  align-items: center;
  cursor: pointer;
}

.createAccountButton {
  background: #5a6afa;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

.createAccountButton:hover {
  background-color: #3145f5;
}

.authActions {
  display: flex;
  padding-bottom: 0;
  width: 100%;
  border-top: 1px solid black;
  padding-top: 20px;
  flex-direction: column;
  gap: 16px;
}

.googleButton {
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-width: 1px;
}

.loginRedirect {
  width: 100%;
  text-align: right;
  font-weight: 600;
}

.loginLink {
  color: #5a6afa;
}

.sideCard {
  width: 100%;
  height: 967px;
  background-color: #5a6afa;
  border-radius: 36px;
}

@media (max-width: 768px) {
  .signUpCard {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .signUpCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .signUpForm {
    width: 280px;
  }

  .signUpContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .inputWrapper {
    padding: 5px;
  }

  .passwordWrapper {
    padding: 5px;
  }
}
