.container {
  padding: 22px;
}
.container2
{
display: flex;
    justify-content: space-around;
}
.container3
{
  display: flex;

    justify-content: center;
    margin-top: 10px;
}
.title {
  font-size: 32px;
  margin-bottom: 24px;
}
.main
{
  padding-top: 10px;
    width: 65%;
    margin-left: 17%;
    margin-right: 17%;
    display: flex;
  
    align-content: space-around;
    flex-direction: column;
  
    border: 1px solid #e5e7eb;

}
.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.link {
     color: rgb(0, 0, 0);
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    display: inline-block;
    padding: 8px 20px;
    background-color: #e2dfdf;

    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.2s;

  &:hover {
    background-color: #535bf2;
  }
}

.cardBoard {
    width: 75%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
text-align: center;
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 10px;
  width: 23%;
}
.active
{
  

 display: inline-flex;
  align-items: center;
  gap: 6px;

  padding: 6px 14px;
  border-radius: 999px;

  background-color: #e6f7ef;
  color: #22c55e;

  font-size: 14px;
  font-weight: 500;


}

.inactive
{

 display: inline-flex;
  align-items: center;
  gap: 6px;

  padding: 6px 14px;
  border-radius: 999px;

  background-color: #fdecec;
  color: #ef4444;

  font-size: 14px;
  font-weight: 500;


}
.image
{
    border-radius: 999px;
}

.star
{
    display: flex;
    flex-direction: row-reverse;

}
.card
{
      margin-top: 30px;
}
