.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #6666664d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.items {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.brand {
  font-size: 20px;
  font-weight: 700;
  font-style: bold;
  color: #000000;
  text-decoration: none;
  margin-right: 30px;

  &:hover {
    color: #646cff;
  }
}

.search {
  width: 50%;
  border-radius: 15px;
  border: 1px solid #8b8b8b;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  padding: 0 12px;

  input {
    border: none;
    width: 50%;
  }
}

.rightItems {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.rightLink {
  font-weight: 600;
  font-style: "SemiBold";
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin: 20px;
}
