.addressCard {
  width: 100%;
  gap: 25px;
  margin-top: 85px;
  min-height: 765px;
  background: #f5f5f5;
  border-radius: 19px;
  padding: 35px 280px 40px 51px;
  display: flex;
  flex-direction: column;
}

.addressContent {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.addAddressCard {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  background: #ffffff;
  border: 1px dashed #a8a8a8;
  border-radius: 25px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .addressCard {
    margin-top: 0;
    min-height: auto;
    padding: 35px 40px;
  }
}

@media (max-width: 767px) {
  .addressCard {
    margin-top: 0;
    min-height: auto;
    padding: 28px 24px;
  }
}

@media (max-width: 414px) {
  .addressCard {
    padding: 24px 16px;
  }
}
