.productCard {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  width: 259px;
  height: 398px;
  background: #d9d9d9;
  border-radius: 21px;
  gap: 15px;
  align-items: center;

  .productPrice {
    display: flex;
    gap: 19px;
  }
}

.originalPrice {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.79);
}

.productImage {
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  width: 250px;
  height: 250px;
}

.productTitle {
  padding-left: 15px;
  padding-right: 15px;
}

.buyButton {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  border: none;
  width: 120px;
  height: 36px;
  background: #7d7d7d;
  border-radius: 14px;
  cursor: pointer;
  &:hover {
    background-color: black;
  }
}
