.fullForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.allForm {
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  width: 300px;
  min-height: 410px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  margin: 10px 30px;

  input {
    border-radius: 10px;
    border: 1px solid rgba(182, 178, 178, 0.3);
    padding: 5px 5px;
  }
  label {
    font-weight: 500;
  }
}
.buttonForm {
  border-radius: 10px;
  border: 1px solid rgba(182, 178, 178, 0.3);
  width: 60px;
  height: 30px;
  margin: 10px;
  background-color: rgb(132, 0, 255);
  color: white;
}
.buttonForm:hover {
  cursor: pointer;
  opacity: 0.9;
}
.select {
  width: 185px;
}
.avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.avatarContainer {
  position: relative;
  width: 120px;
  height: 120px;
}
.editAvatar {
  position: absolute;
  bottom: 0;
  right: -10px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.hiddenInput {
  display: none;
}

