.signupbody {
  background-color: #ececec;
}
.signupcard {
  padding: 30px 30px;
  padding-left: 85px;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  padding-right: 29px;
  display: flex;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
  gap: 65px;
  justify-content: center;
}
.signuptext {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.signupfield {
  height: 726px;
  width: 533px;
  background-color: #ffffff;
  align-items: center;
  text-align: center;
  padding: 60px 33px 36px;
  display: flex;
  flex-direction: column;
  border: 1px solid #7d7d7d;
  border-radius: 15px;
  gap: 26px;
}
.signupdesc {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.emailfield {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #7d7d7d;
  border-radius: 15px;
  padding: 15px 35px;
  background: white;
}
.passwordfieldtext {
  font-weight: 900;
  width: 100%;
  display: flex;
}
.eyes {
  background: transparent;
  border: none;
  align-items: center;
  cursor: pointer;
}
.passwordfield {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #7d7d7d;
  border-radius: 15px;
  padding: 15px 35px;
  background: white;
  display: flex;
}
.email {
  text-align: left;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}
.password {
  width: 100%;
  text-align: left;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}
.passwordtext {
  border: none;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  background: white;
  font-weight: 900;
}
.passwordtext:focus {
  outline: none;
}
.emailtext {
  font-weight: 900;
  align-items: center;
  width: 100%;
  border: none;
  border-radius: 0px;
  padding: 5px 10px;
  background: white;
}
.emailtext:focus {
  outline: none;
}

.signinbutton {
  background: #5a6afa;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}
.signinbutton:hover {
  background-color: #3145f5;
}
.buttonfield {
  display: flex;
  padding-bottom: 0px;
  width: 100%;
  border-top: 1px solid black;
  padding-top: 20px;
  flex-direction: column;
  gap: 16px;
}
.googleimage {
  width: 30px;
  height: 30px;
}
.signinwaybutton {
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-width: 1px;
}
.textfield {
  width: 100%;
  text-align: right;
  font-weight: 600;
}
.card {
  width: 100%;
  height: 967px;
  background-color: #5a6afa;
  border-radius: 36px;
}
.gotosignin {
  color: #5a6afa;
}
@media (max-width: 768px) {
  .signupcard {
    padding: 30px 30px;
    
    align-items: center;
    text-align: center;
    border: 2px solid black;
    padding-right: 29px;
    display: flex;
    border: 1px solid #e5e7eb;
    border-radius: 15px;
    gap: 65px;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .signupcard {
    display: flex;

    justify-content: center;
    flex-direction: column;
  }
  .signupfield {
    width: 280px;
  }
  .signupdesc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .emailfield
  {
    padding: 5px 5px;
  }
  .passwordfield
  {
    padding: 5px 5px;
  }
}
